* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.grilla {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.4fr 3fr 0.6fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

/* todo el header */
.header {
  grid-area: header;
  /* imagen de fondo del header */
  /* background-image: url(../img/imgheader.jpg); */
  background: rgb(9, 13, 25);
  background: linear-gradient(0deg, rgba(0, 0, 5, 1) 25%, rgba(12, 46, 154, 1) 94%);
  background-size: cover;
  display: flex;
  justify-content: center;
  justify-items: center;

}

.logo {
  height: 20vh;
  transform: rotateZ(60deg);
}

.logoredes {
  display: none;
  position: absolute;
  height: 5vh;
  top: 14vh;
  left: 90vw;
}

/* navegacion */
.nav {
  grid-area: nav;
  /* fondo de imagen del nav */
  /* background-image: url(../img/fondonav.jpg); */
  background: rgb(35, 72, 115);
  background: linear-gradient(0deg, rgb(12, 46, 154, 1) 0%, rgba(0, 0, 5, 1) 25%);
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.link {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.nav__link {
  display: flex;
  background-color: rgb(211, 208, 42);
  border: 5px solid black;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
}

.nav__link:hover {
  background-color: rgb(206, 5, 5);
}

.nav__link--activo {
  display: flex;
  background-color: rgb(206, 5, 5);
  border: 5px solid black;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  padding: 5px;

}

/* codigo main */
.main {
  /* todavia no me decidi los colores o si va a ser una pagina de programacion o de gymnasio */
  grid-area: main;
  background-image: url(../img/fondomain.jpg);
  background-size: cover;
  padding: 2vh;
  overflow: scroll;
  height: 60vh;
}

.lista__inscritos {
  width: 50vw;
  height: 25vh;
  background-color: black;
  text-align: center;

}

.lista__inscritos__columnas {
  background-color: rgb(38, 38, 218);
  border-style: dotted;
  border: 2px black;

}

.lista__inscritos__filas {
  background-color: rgb(89, 214, 236);

}

.footer {
  grid-area: footer;
  background: rgb(24, 102, 126);
  background: linear-gradient(0deg, rgba(12, 46, 154, 1) 5%, rgba(0, 0, 5, 1) 41%);
}

.nombres {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nombres__tamaño {
  height: 3vh;
  width: 25vw;
}

.nombres__tamaño:focus {
  background-color: rgb(21, 177, 224);
  width: 60vw;

}

.sexo {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.vip {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opciones {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

th {
  font-size: 20px;
  font-family: 'Bebas Neue'
}

td {
  font-size: 20px;
  font-family: 'Bebas Neue'
}

/* estilos de textos y cosas varias */
h1 {
  display: none;
  color: rgb(29, 232, 247);
}

h2 {
  text-align: center;
  color: rgb(29, 232, 247);

}

p {
  font-size: 20px;
  font-family: 'Bebas Neue';
  color: rgb(64, 158, 235);
}

a {
  color: black;
  text-decoration: none;
  font-size: 14.8px;
}

/* fin de celular */
/* vista de tablet igual al del celular */
@media(min-width:768px) {

  /* cambiar para los items de nav para que se acomoden */
  .nav {
    grid-area: nav;
    background-image: url(../img/fondonav.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;

  }

  .header {
    justify-content: start;
    justify-items: start;
    background: rgb(0, 0, 5);
    background: linear-gradient(90deg, rgba(0, 0, 5, 1) 37%, rgba(12, 46, 154, 1) 83%);

  }

  .nav {
    background: rgb(0, 0, 5);
    background: linear-gradient(98deg, rgba(0, 0, 5, 1) 27%, rgba(12, 46, 154, 1) 83%);
  }

  h1 {
    display: flex;
    padding-top: 3vh;

  }

  .logoredes {
    display: flex;
    position: absolute;
    height: 5vh;
    top: 14vh;
    left: 90vw;
  }

  .footer {
    background: rgb(12, 46, 154);
    background: linear-gradient(98deg, rgba(12, 46, 154, 1) 25%, rgba(1, 1, 29, 1) 80%);

  }
}


/* vista de computadura cambia el posicionamiento de todo */
@media(min-width:1200px) {
  .grilla {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 0.32fr 3.6fr 0.4fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "nav main"
      "footer footer";
  }

  .header {
    grid-area: header;
  }

  .nav {
    grid-area: nav;
    display: flex;
    background: rgb(0, 0, 6);
    background: linear-gradient(98deg, rgba(0, 0, 6, 1) 100%, rgba(12, 46, 154, 1) 100%);
    align-items: space-around;
    justify-content: space-around;
    height: 72vh;
    width: 23vw;
  }

  .link {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  .main {
    grid-area: main;
    background-color: red;
    overflow: scroll;
    height: 72vh;
    padding: 2vh;
  }

  .nav__link {
    box-sizing: border-box;
    background-color: rgb(211, 208, 42);
    border: 5px solid black;
    height: 5vh;
    text-align: center;
  }

  .nav__link--activo {
    box-sizing: border-box;
    position: relative;
    padding: 1vh;
    background-color: rgb(206, 5, 5);
    border: 8px solid black;
    width: 9vw auto;
    height: 6vh;
    font-weight: bold;

  }

  .footer {
    grid-area: footer;
    background: rgb(12, 46, 154);
    background: linear-gradient(8deg, rgba(12, 46, 154, 1) 17%, rgba(0, 0, 6, 1) 61%);
    height: 8vh;
  }
}